<div class="profile">
  <h1>profile</h1>

  <h5>{{successMessage}}</h5>
  <h6>{{message}}</h6>

  <h2>Welcome🥰</h2>

  <div id="userInfo">
    <h4 id="name">{{data.fullName}}</h4>
    <p id="email">{{data.email}}</p>
    <p id="role">{{data.role}}</p>
  </div>

  <a href="/api/sessions/logout">log out</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" src="/js/profile.js"></script>